.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    border: 1px solid #ccc;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.card-hrader{
    font-size: 24px;
    border-bottom: 1px dashed #333;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.card-body{
    display: flex;
    justify-content: space-between;
}